body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,  'Oxygen',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
h1{
  font-size: 6em !important;
}
h2{
  font-size: 4em !important;
}
h3{
  font-size: 3.5em !important;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
